div {
  text-align: center;
  width: fit-content;
}

div[class = grid-container] {
 background-color:  #FAA1AF;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 10px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
}

input[type = text] {
  font-size: 34px;
  grid-column: 1/4;
  text-align: right;
  width: auto;
}

input[type = button] {
  background-color: #ffffff;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 16px;
  width: auto;
}

input[class = operator] {
  background-color: #000000;
  color: white;
  padding: 16px;
}

input[name = clear]{
  font-weight: bold;
}
